@use 'base/variables' as v;
@use 'base/mixins' as m;

.error {
    background-color: v.$rojo;
}

.exito{
    background-color: v.$verde;
}

.alerta{
    padding: calc(v.$separacion / 4);
    color: v.$blanco;
    max-width: 90%;
    margin: auto auto 2rem auto;
    display: block;
    text-align: center;
    border-radius: 6px;
    font-weight: v.$bold;
    text-transform: uppercase;
}